html,
body {
  font-family: 'Amazon Ember', 'Helvetica', 'sans-serif';
  margin: 0;
}
a {
  color: #ff9900;
}
h1 {
  font-weight: 300;
}
hr {
  height: 1px;
  background:#ff9900;
  border: none;
}
.app {
  width: 100%;
  color: blue;
}
.app-header {
  color: white;
  text-align: center;
  background: linear-gradient(30deg, #f90 55%, #ffc300);
  width: 100%;
  margin: 0 0 1em 0;
  padding: 3em 0 3em 0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}
.graph{
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.app-body {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.app-body button {
  background-color: #ff9900;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  padding: 1em;
  border: none;
}
.app-body button:hover {
  opacity: 0.8;
}
.square_Bottle {
  width: 3px;
  height: 3px;
  background: #F7464A;
  font-size: 1vw;
  color: black;
}
.square_Can {
  width: 3px;
  height: 3px;
  background: #41C44E;
  font-size: 1vw;
  color: black;
}
.square_Bin {
  width: 3px;
  height: 3px;
  background: #FDB45C;
  font-size: 1vw;
  color: black;
}
.square_Burnable {
  width: 3px;
  height: 3px;
  background: #AA49B8;
  font-size: 1vw;
  color: black;
}
.square_Other {
  width: 3px;
  height: 3px;
  background: #4D5360;
  font-size: 1vw;
  color: black;
}
.container {
  display: flex;
  justify-content: space-between; /* 要素間を均等に配置 */
  width: 100%;
}

.square_Bottle,
.square_Can,
.square_Bin,
.square_Burnable,
.square_Other {
  flex: 1; /* 横幅を均等に分配 */
  margin-right: 10px; /* 要素間の間隔 */
  display: inline-block; /* インラインブロックとして表示 */
}
.canvas-parent{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}